<% provide(:title, "Careers") %>

<section id="title" class="emerald">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Career</h1>
         
        </div>
        <div class="col-sm-6">
          <ul class="breadcrumb pull-right">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Career</li>
          </ul>
        </div>
      </div>
    </div>
  </section><!--/#title-->     

 
<section id="terms" class="container">
       <h3>The application process at Family AIDS Initiative Response</h3>
       <hr>
    
        <p>Find an open position that matches your skills, experience, and interests and apply online today.<br>
         Click the "apply" button at the bottom of any position description page.<br>
         You will receive an email confirming receipt of your résumé/CV. If we determine there is a good match between your background, experience, and education and the position requirements, we will contact you for a telephone interview for initial screening.<br> If you are selected for further consideration, you will be contacted to schedule an additional interview with a hiring committee, either in person or via telephone.

          <p>&nbsp;</p>

          If there are no open positions that match your interests, you can still add your information to our database, so that we can send you notifications of new jobs based on your interests.<br></p>
        <hr>

        <p>&nbsp;</p>

        <p><b>Thank you for your interest in joining  <b>Family AIDS Initiative Response</b> in our fight against poverty and  HIV/AIDS</b></p>
        <hr>
    </section><!--/#terms-->


  <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About Us</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                    
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <h4>Our Mission</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                </div><!--/.col-md-4-->

                

                <div class="col-md-4 col-sm-6">

                     <h4>ADDRESS</h4>
                     <address>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong> Head Office:</strong><br>
                         Giddo Plaza, off George Morara Rd Nakuru
                    </li>
                     <br>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> info@fair-ke.org
                    </li>
                     <br>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> (+254) 722894206 
                    </li>
                </ul>
                </address>

                </div> <!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#bottom-->