<% provide(:title, "Donate") %>

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Donate</h1>
                    
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        
                        <li class="active">Donate</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->    

    
    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-8">
            <img src="images/blog/22.jpg" width="100%" height="500" />
            <p>&nbsp;</p>
            <p>For decades ,FAIR has been working with the most disadvantaged children to provide them better healthcare, education opportunities and protection from physical and mental exploitation. In Kenya we go right in the middle of the poorest communities with our development projects and help children be children. We rid them from the clutches of malnutrition, send them to schools, help pregnant women deliver safe, pull children out of child labour – all with an aim to give children a happy childhood. <br>It is because of the hundreds and thousands of generous donors that we have been able to pull it so far. We need your continued support to enable us to continue with our work with the same vigour and passion.<br>
            </p>
             </div><!--/.col-sm-6-->
            <div class="col-sm-4">
                
                <div>
                <h5>Make lasting change in a child's life through nutrition, health, education and more - all for less than $1 a day.<br>(Make a Memorial Gift)Honor a loved one’s legacy by making a gift in their memory to support hope for a brighter future for all children or you can visit us in our physical location at GIDDO PLAZA Nakuru county.<br><br> Girls and boys are counting on you to support our mission and donate for children. Save the Children works in the world’s most vulnerable places, from America to Kenya – saving one child at a time. And we can’t do it without you. There are so many ways to give to Save the Children. </h5>
                <hr>
                <h2><b>Ways to Donate</b></h2>
                <ul>
                    <li>Donate Through our Corpoarate</li>
                     <li>Support Gift Planning Donation</li>
                      <li>Goods Sponsor at Event</li>
                </ul>

               
               
               


                    </div>
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

        <hr>
         
       
    </section><!--/#about-us-->
    </section><!--/#terms-->
    <section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About Us</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                    
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <h4>Our Mission</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                </div><!--/.col-md-4-->

                

                <div class="col-md-4 col-sm-6">

                     <h4>ADDRESS</h4>
                     <address>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong> Head Office:</strong><br>
                         Giddo Plaza, off George Morara Rd Nakuru
                    </li>
                     <br>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> info@fair-ke.org
                    </li>
                     <br>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> (+254) 722894206 
                    </li>
                </ul>
                </address>

                </div> <!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#bottom-->

