<% provide(:title, "Donate") %>

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Donate</h1>
                    
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        
                        <li class="active">Donate</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->    

    
    <section id="about-us" class="container">
        <div class="row">
            <div class="col-sm-6">
            <h3>Make Donation</h3>
            
            <p>For decades ,FAIR has been working with the most disadvantaged children to provide them better healthcare, education opportunities and protection from physical and mental exploitation. 
             <br>
            In Kenya we go right in the middle of the poorest communities with our development projects and help children be children. We rid them from the clutches of malnutrition, send them to schools, help pregnant women deliver safe, pull children out of child labour – all with an aim to give children a happy childhood.
             <br>
            It is because of the hundreds and thousands of generous donors that we have been able to pull it so far. We need your continued support to enable us to continue with our work with the same vigour and passion.
            <br>
            <p>Make lasting change in a child's life through nutrition, health, education and more - all for less than $1 a day.<br>(Make a Memorial Gift)Honor a loved one’s legacy by making a gift in their memory to support hope for a brighter future for all children or you can visit us in our physical location at GIDDO PLAZA Nakuru county.
             <p>&nbsp;</p>
             Girls and boys are counting on you to support our mission and donate for children. Save the Children works in the world’s most vulnerable places, from America to Kenya – saving one child at a time. And we can’t do it without you. There are so many ways to give to Save the Children. </p>
            </p>
             </div><!--/.col-sm-6-->
            <div class="col-sm-6">
             <%=  image_tag("2.JPG", alt: "Donate",class: "thumbnail", width: "100%") %>

             <hr>
                <h3><i>Ways to Donate</i></h3>
                <ul>
                    <li>Donate Through our Corpoarate</li>
                     <li>Support Gift Planning Donation</li>
                      <li>Goods Sponsor at Event</li>
                </ul>
                </div>
            </div><!--/.col-sm-6-->
        </div><!--/.row-->

        <hr>
         
       
    </section><!--/#about-us-->
    </section><!--/#terms-->
    