<% provide(:title, "Get Involved") %>

<section id="title" class="emerald">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Get Involved</h1>
                   
                </div>
                <div class="col-sm-6">
                    <ul class="breadcrumb pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        
                        <li class="active">Get Involved</li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!--/#title-->
    
<section id="terms" class="container">
        <h3>Our Campaigns</h3>
        <p>We are non Governmental organization based in Nakuru county implementing various programmes, Was established in 2001, seeking to address enormous challenges faced by Hundres of children across Kenya, who have been orphaned by HIV/AIDs and Vulnerable in the Society .</p>
        <hr>

        <p>&nbsp;</p>

        <h3>Area Of Interest: HIV/AIDS</h3>
        <p>We are playing a key role in health issues within Nakuru County at large in collaboration with Ministry Of Health {MOH} by implementing Government health policies. Since 2001 to date We have managed to cap the spread of HIV/AIDS by fully engaging various stakeholders within and without the Organization by carrying outreaches on how to prevent the spread of HIV/AIDS and also by helping the infected persons linking them to support group, community sensitization and Health community based care.We have put more emphasis on the most at risk population {MARPS}, e.g Female Sex workers{FSWs},people living with HIV/AIDs{PLHIV/AIDs} and truck drivers.</p>
        <hr>

        <p>&nbsp;</p>

        <h3>Access To Quality Education</h3>
        <p>We are facilitating access to quality Education for the orphans and vulnerable children in Nakuru county by paying school fees which involves the engagement of the local leaders for transparency and fairness, distribution of school uniforms in both primary and secondary schools and linking them to TERTIARY COLLEGES for those children in the programme who don’t meet the qualification to join secondary schools or universities. In addition , we also assist vulnerable children to acquire Birth Certificate from Registrar of persons by meeting the cost for the above exercise.</p>
        <hr>

        <p>&nbsp;</p>
        <h3>Community Economic Strengthening and Sustainability</h3>
        <p>We enhances the capacity of the local people within Nakuru County to depend on themselves by encouraging them to engage in income generating activities like the Saving Internal Local Community {SILC groups}, where they save and borrow from and link them to Micro-Finances and Government lending agencies such as Women Enterprise Fund. FAIR is also contributing immensely to the development projects in the community , such as the construction of green houses for various groups in different parts of Nakuru county, which has improved the food security and generating income for the locals.</p>
        <hr>

        <p>&nbsp;</p>
        <h3>LGBT Youth rights</h3>
        <p>We celebrates the human rights of sexual minorities and as such is actively involved heavily in networking with LGBT activist groups in Kenya. It connects them to opportunities and activities that promote their development </p>
        <p>&nbsp;</p>
        <hr>
    </section><!--/#terms-->


<section id="bottom" class="wet-asphalt">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h4>About Us</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                    
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <h4>Our Mission</h4>
                    <p>Family AIDS Initiative Response is a local NGO in Kenya addresses the challenges faced by children who have either been orphaned by AIDS or live with parents who are affected from AIDS-related illnesses.We are involved in implementing the Preventing Orphaning Initiative (TPOI) a programme funded by Family Health International and AphiaPlus.</p>
                </div><!--/.col-md-4-->

                

                <div class="col-md-4 col-sm-6">

                     <h4>ADDRESS</h4>
                     <address>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong> Head Office:</strong><br>
                         Giddo Plaza, off George Morara Rd Nakuru
                    </li>
                     <br>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> info@fair-ke.org
                    </li>
                     <br>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> (+254) 722894206 
                    </li>
                </ul>
                </address>

                </div> <!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#bottom-->