<% provide(:title, "All Jobs") %>
<section id="terms" class="container">
	<% if logged_in? %>
	
	<p><%= link_to "Add New Job", new_job_path, class: "btn btn-primary" %></p>
	<hr>
	<% end %>


	<%= will_paginate %>

	<%= render @jobs %>

	<%= will_paginate %>
</section>

