<% provide(:title, "Blog") %>
<section id="terms" class="container">

		<% if logged_in? %>
		<p><%= link_to  "Add New Post", new_micropost_path, class: "btn btn-primary" %></p>
		<hr>
		<% end %>
		<%= render @microposts %>
		<%= will_paginate %>
 </section>
 