<% provide(:title, "Blog Posts") %>
<section id="terms" class="container">

		<% if logged_in? %>
		<h4><%= link_to  "Add Post", new_micropost_path %></h4>
		<% end %>

		


		<%= render @microposts %>


		<%= will_paginate %>
 </section>
 