
<% provide(:title, "Blog") %>
<section id="blog" class="container">
<div class="blog">
 <div class="blog-item">
 <div class="blog-content">
	<h3><%= @micropost.title %></h3>
	
	<p><%= @micropost.content %></p>
 </div>
 </div>
 </div>
</section>

